/*scroll to top*/
/* fixed bottom-6 right-6 box-border size-10 p-1 md:size-12 md:p-2 lg:size-14 lg:p-3 */
.scroll-top {
  /* position: fixed; */
  z-index: 50;
  /* padding: 0; */
  /* right: 24px; */
  /* bottom: 74px; */
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(15px); */
  /* height: 40px; */
  /* width: 40px; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  border: none;
  box-shadow: inset 0 0 0 2px #ccc;
  color: #ccc;
  background-color: #fff;
}
.scroll-top.is-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-top .icon-tabler-arrow-up {
  position: absolute;
  stroke-width: 2px;
  stroke: #1c2373;
}
.scroll-top svg path {
  fill: none;
}
.scroll-top svg.progress-circle path {
  stroke: #1c2373;
  stroke-width: 4;
  transition: all 0.4s ease;
}
.scroll-top:hover {
  /* color: var(--ghost-accent-color); */
  transform: scale(1.1);
}
/* .scroll-top:hover .progress-circle path,
.scroll-top:hover .icon-tabler-arrow-up {
  stroke: var(--ghost-accent-color);
} */
